<!-- views/fruits/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fruits Index</title>
  </head>
  
<body>
  <h1>All Fruits</h1>
  <a href="/fruits/new">Add New Fruit</a>

  <ul>
    <% fruits.forEach(fruit => { %>
      <li><a href="/fruits/<%= fruit._id %>"><%= fruit.name %></a></li>
      <!-- this is a dynamic href - it makes the link give an address that
      is tied to the '_id' given to this item in the database. Now we can
      use this _id to render a show page using 'fruits/:_id' -->
    <% }); %>
  </ul>
</body>


</html>
