<!-- views/fruits/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a Fruit</title>
  </head>
  <body>
    <h1>Create a New Fruit!</h1>
    <form action="/fruits" method="POST">
<!-- 'action' specifies where the form data should be sent when 
 submitted.
'method' defines the HTTP method the browser should used to send the
form data. Here we use POST, appropriate because this form creates new 
data to the server. -->
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />

        <label for="isReadyToEat">Ready to Eat?</label>
        <input type="checkbox" name="isReadyToEat" id="isReadyToEat" />

        <button type="submit">Add Fruit</button>
    </form>
    
    <a href="/fruits/">Back to Fruits</a>

  </body>
</html>
